
.navbar {
    display: flex;
    justify-content: space-between;
    align-items:center;
    position: fixed;
    top:0;
    height: 8vh;
    background-color: #ffffff;
    border-bottom: 1px solid grey;
    padding:10px 0px 10px 0;
    width: 100%;
    z-index: 99;
}
.nav-item{
    padding:30px;
}

.cart:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.items-container {
    display:flex;
    flex-flow:row wrap;
    width: 90%;
    max-width: 1000px;
    justify-content: center;
    overflow: auto;
    margin: auto;
    margin-top: 12vh;
    padding:10px;
}

.item{
    display: flex;
    width:200px;
    height: 250px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: solid 1px grey;
    position: relative;
    justify-content:space-between;
    margin: 10px;
    transition: all 0.2s ease-in-out;
    overflow: hidden;
}

.item:hover{
    transform: scale(1.1);
    border-color: black;
}


.image-container{
    height:80%;
    display:flex;
    justify-content: center;
    align-items: center;
}

.image-container img {
    height: 95%;
    max-width: 95%;
    
}

.text-container{
    line-height:1.5;
    width:100%;
    text-align: center;
    background-color: #dadada;
}

.add-cart{
    position: absolute;
    bottom: 15px;
    right: 12px;
    cursor: pointer;
}

.add-cart:hover{
    color:white;
    transition: all 0.2s ease-in-out;
}

/* cart pop up modal */
.cart-modal {
    display: flex; 
    justify-content:center;
    align-items:center;
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgba(0,0,0,0.4); 
  }

  .cart-modal-content{
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      height: 55vh;
      width:80%;
      max-width: 700px;;
      overflow: auto;
      background-color:white;
      position: relative;
      border-radius:10px;
      padding:20px;
      
  }

  .cart-table{
      padding:20px;
  }
  .cart-modal-content h1{
      font-size: 30px;
      padding:10px;
  }
  .cell{
      display:table-cell;
      justify-content: center;
      align-items: center;
      padding:20px;
      text-align: center;
      vertical-align: middle;
  }


.quantity-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.quantity-cell div{
    display: flex;
    height: 100%;
}

#icons {
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    justify-content: center; 
    
}





/* styling for quantity arrows */
  
.arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    cursor: pointer;
  }
  
  .up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
    transition: ease 0.2s;
  }


  .up:hover{
    transform: rotate(-135deg) scale(1.2);
}
  
  .down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }

    .down:hover {
        transform: rotate(45deg) scale(1.2);
    }
  .total{
      text-align: right;
      width:80%;
      margin: 0 auto;
  }

  .total-amount{
      text-align: center;
  }


  .product-img{
      width:40px;
  }

  .close{
      position: absolute;
      right:10px;
      top:0;
      font-size:40px;
      cursor: pointer;
  }

  .remove-btn{
      font-size: 30px;
      cursor: pointer;
  }
  

